pipeline/aqs_cliente.json
{
	"name": "aqs_cliente",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "table",
					"value": {
						"value": "@json('[\n{\n      \"schema\": \"dbo\",    \n        \"schema2\": \"test\",     \n        \"table\":\"aqs_cliente\" ,   \n        \"pk_integracion\": \"IdClienteCrm\"\n        },\n\n        ]')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('table')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{item().schema}.@{item().table}"
								},
								{
									"name": "Destination",
									"value": "@{item().schema2}.@{item().table}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"IdClienteCrm"
										]
									},
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"URLKeyVault": {
											"value": "https://kv-clavestest.vault.azure.net/",
											"type": "Expression"
										},
										"schema": {
											"value": "@item().schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().table",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable2",
									"type": "DatasetReference",
									"parameters": {
										"URLKeyVault": {
											"value": "https://kv-clavestest.vault.azure.net/",
											"type": "Expression"
										},
										"schema2": {
											"value": "@item().schema2",
											"type": "Expression"
										},
										"table": {
											"value": "@item().table",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"schema2": {
				"type": "string",
				"defaultValue": "test"
			}
		},
		"variables": {
			"table": {
				"type": "Array",
				"defaultValue": [
					"aqs_cliente"
				]
			}
		},
		"annotations": []
	}
}