templates/FileToTable/FileToTable.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory"
		},
		"AzureBlobStorage1": {
			"type": "string"
		},
		"AzureSqlDatabase_test1": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FileToTable')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Validation1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": "2023-10-31T00:00:00.000Z",
									"modifiedDatetimeEnd": "2023-10-31T07:00:00.000Z",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Plantilla_Ecuador",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "GenericDataSet",
								"type": "DatasetReference",
								"parameters": {
									"schema": "prb",
									"tabla": "tabla_prueba",
									"URL_Key_Vault": {
										"value": "https://kv-clavestest.vault.azure.net/",
										"type": "Expression"
									},
									"Secret_Name_Key_Vault": {
										"value": "database1",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Validation1",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Plantilla_Ecuador",
								"type": "DatasetReference"
							},
							"timeout": "0.12:00:00",
							"sleep": 10
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Plantilla_Ecuador')]",
				"[concat(variables('factoryId'), '/datasets/GenericDataSet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Plantilla_Ecuador')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "JOB",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Creacción de JOBS.xlsx",
						"container": "ejercicio3"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GenericDataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlDatabase_test1')]",
					"type": "LinkedServiceReference",
					"parameters": {
						"URL_Key_Vault": {
							"value": "@dataset().URL_Key_Vault",
							"type": "Expression"
						},
						"Secret_Name_Key_Vault": {
							"value": "@dataset().Secret_Name_Key_Vault",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"tabla": {
						"type": "string"
					},
					"URL_Key_Vault": {
						"type": "string"
					},
					"Secret_Name_Key_Vault": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tabla",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"dependsOn": []
		}
	]
}